<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/performancebcket/uploads/profile/app.min.css">
</head>
<body>
<div class="container">
   {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/performancebcket/uploads/profile/index.min.js"></script>

</body>
</html>