<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://d8nj2h24bna4l.cloudfront.net/app.min.css">
</head>
<body>
<div class="container">
   {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="http://d8nj2h24bna4l.cloudfront.net/index.min.js"></script>

</body>
</html>